<!-- 共通化テンプレート -->
<% @post_images.each do |post_image| %>
<!-- @post_images => post_images に変更 -->
<div>
  <%= link_to post_image_path(post_image.id) do %>  <!-- showページのリンク -->
    <%= image_tag post_image.get_image %>  <!-- 上のlink_toではdoからendまでの間、つまりimage_tagはaタグで囲まれた状態になる.post_image.get_imageはPstImageモデル内に記述したメソッドを呼び出す -->
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<% end %>
<%= paginate post_images %>